{:active-connection :dev
 :connections
 {:dev  {:dbtype "postgres"
         :host "localhost"
         :port 5432
         :dbname "postgres"
         :schema "public"
         :user "postgres"
         :password "postgres"}
  :prod {:merge-with :dev
         :host "127.0.0.1"
         :password "postgres"}}
 :print-config-info true
 :print-table-counts true
 ;; Can be nil/empty to not write SQL output to a file
 :write-to-file "sql-output.md"}
